@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato Regular"), local("Lato-Regular"), url("./assets/fonts/Lato-Regular.woff") format("woff");
}

body {
  font-family: "Lato";
  width: 100%;
  min-height: 100vh;
  margin: 0;
  background: rgba(0, 0, 0, 0.01);
}

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
